<!DOCTYPE html>
<html>
<head>
  
 <link href= "/assets/styles.css" rel="stylesheet" type="text/css" />
   
</head>

<body>
    <h1>
Name    </h1>
 <p>  Name is <%= data.who %>  </p>

 






</body>
</html>